{% load static %}
<div class="main-menu w-full bg-[#0c0f11] px-4 sm:px-6 lg:px-8 py-6">
    <div class="max-w-[1440px] mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Facturen -->
        <div class="trigger-our-services w-full grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 items-center gap-3 md:gap-10 relative flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Copy"
            src="{% static 'img/menu/copy.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Facturen
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Online facturen versturen
            </div>
          </div>
        </div>

        <!-- Offertes -->
        <div class="flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Document"
            src="{% static 'img/menu/document.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Offertes
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Maak professionele offertes
            </div>
          </div>
        </div>

        <!-- Bank -->
        <div class="flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/building.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Bank
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Beheer je bankrekeningen
            </div>
          </div>
        </div>

        <!-- Scan -->
        <div class="flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/building.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Scan
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Nooit meer bonnen bewaren
            </div>
          </div>
        </div>

        <!-- Rapportages -->
        <div class="flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/building.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Rapportages
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Real time inzicht in je inkomsten en uitgave
            </div>
          </div>
        </div>

        <!-- Camera -->
        <div class="flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Camera"
            src="{% static 'img/menu/camera.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Belasting
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Doe btw-aangifte in 1 klik
            </div>
          </div>
        </div>

        <!-- Boekhouden -->
        <div class="flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/building.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Boekhouden
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Houd gemakkelijk je administratie bij
            </div>
          </div>
        </div>

        <!-- Urenregistratie -->
        <div class="flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/building.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Urenregistratie
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Snel uren bijhouden
            </div>
          </div>
        </div>

        <!-- Inkomstenbelasting -->
        <div class="flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/building.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Inkomstenbelasting
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              IB-aangifte in een handomdraai
            </div>
          </div>
        </div>

        <!-- Onbeperkte ondersteuning -->
        <div class="flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/building.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Onbeperkte ondersteuning
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              We staan altijd voor je klaar, ook in de avond
            </div>
          </div>
        </div>

        <div class="font-semibold text-[#5f5f5f] text-base">
          Alle functionaliteiten
        </div>
      </div>
    </div>
  </div>