{% load static %}
<div class="main-menu w-full bg-[#0c0f11] px-4 sm:px-6 lg:px-8 py-6">
    <div class="text-left max-w-[1440px] mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

        <div class="menu-trigger trigger-our-services flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="our-services"
            src="{% static 'img/menu/copy.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Our Services
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Lorem ipsum dolor sit amet
            </div>
          </div>
        </div>

        <!-- maintenance -->
        <div class="menu-trigger trigger-our-services-auto flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
            <img
            class="w-12 h-12"
            alt="maintenance"
            src="{% static 'img/menu/document.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Maintenance
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Lorem ipsum dolor sit amet, consectetur
            </div>
          </div>
        </div>

        <!-- how to service your car -->
        <div class="menu-trigger trigger-how-to-service-your-car flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/building.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              How to make an appointment
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
        </div>

        <!-- affordable pricing plans -->
        <div class="menu-trigger trigger-affordable-pricing-plans flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/bar-graph.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Affordable pricing plans
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Lorem ipsum dolor sit amet, consectetur
            </div>
          </div>
        </div>

        <!-- xdg on photos -->
        <div class="menu-trigger trigger-xdg-on-photos flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/emblem.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              XDG on photos
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Real time inzicht in je inkomsten en uitgave
            </div>
          </div>
        </div>

        <!-- xdg community -->
        <div class="menu-trigger trigger-xdg-community flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Camera"
            src="{% static 'img/menu/banner.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Join our community
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Doe btw-aangifte in 1 klik
            </div>
          </div>
        </div>

        <!-- form -->
        <div class="menu-trigger trigger-xdg-form flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/lifeboat.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Register with us
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Houd gemakkelijk je administratie bij
            </div>
          </div>
        </div>

        <!-- contact -->
        <div class="menu-trigger trigger-contact flex items-start gap-4 p-4 bg-[#0c0f11] rounded-lg hover:bg-opacity-50 transition-all">
          <img
            class="w-12 h-12"
            alt="Bank"
            src="{% static 'img/menu/building.svg' %}"
          />
          <div class="flex flex-col">
            <div class="font-semibold text-[#fefefe] text-base">
              Contact us
            </div>
            <div class="text-[#fefefe] text-sm opacity-80">
              Snel uren bijhouden
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>