{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="main-wrapper">
  {% comment %}
  hero
  {% endcomment %}
  <section
    class="w-screen h-[450px] md:h-[850px] bg-[url('{% static 'img/home/main-car.png' %}')] bg-cover bg-[50%_50%] md:bg-[100%_100%]"
    style="background-image: url('{% static 'img/home/main-car.png' %}')">
    <div
      class="relative h-[450px] md:h-[850px] [background:linear-gradient(180deg,rgba(4,3,11,0.74)_0%,rgb(4,3,11)_100%)]">
      <div
        class="px-3 md:mx-auto flex w-full md:w-[1280px] items-center justify-between md:gap-[419px] relative top-10 lef-0 right-0 mx-auto">
        <div class="flex flex-col w-6 md:w-16 items-start gap-1.5 md:gap-2.5 relative">
          <div class="w-3 md:w-6 relative h-0.5 bg-white"></div>

          <div class="w-6 md:w-12 relative h-0.5 bg-white"></div>

          <div class="flex flex-col items-end justify-center relative self-stretch w-full flex-[0_0_auto]">
            <div class="w-3 md:w-6 relative h-0.5 bg-white"></div>
          </div>
        </div>

        <img class="relative h-[16px] md:w-[265.35px] md:h-[39.32px]" alt="XDG Supercars Garage"
          src="{% static 'img/home/xdg-logo.svg' %}" />

        <div class="inline-flex items-center gap-4 md:gap-8 relative flex-[0_0_auto] mr-[-0.35px]">
          <img class="relative w-4 h-4 md:w-6 md:h-6" alt="User" src="{% static 'img/home/user.svg' %}" />

          <div class="relative self-stretch w-px bg-[#ffffff3d]"></div>

          <img class="relative w-4 h-4 md:w-6 md:h-6" alt="Customer service"
            src="{% static 'img/home/customer-service.svg' %}" />
        </div>
      </div>

      <div
        class="px-3 flex flex-col w-full sm:w-[80%] md:w-[1280px] items-center relative lef-0 right-0 mx-auto top-[150px] md:top-[372px]">
        <div class="flex items-center justify-between relative self-stretch w-full flex-[0_0_auto]">
          <div
            class="flex w-[40px] md:w-[120px] h-[40px] md:h-[120px] items-center justify-center relative rounded-[1000px] overflow-hidden border border-solid border-[#ffffff66]">
            <svg class="!relative !w-6 !h-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.41 7.41L14 6L8 12L14 18L15.41 16.59L10.83 12L15.41 7.41Z" fill="#ffffff" />
            </svg>
          </div>

          <div
            class="flex w-[40px] md:w-[120px] h-[40px] md:h-[120px] items-center justify-center relative rounded-[1000px] overflow-hidden border border-solid border-[#ffffff66]">
            <svg class="!relative !w-6 !h-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.70504 6L8.29504 7.41L12.875 12L8.29504 16.59L9.70504 18L15.705 12L9.70504 6Z"
                fill="#ffffff" />
            </svg>
          </div>
        </div>

        <div class="inline-flex flex-col items-center gap-10 relative flex-[0_0_auto] mt-[-75px] md:mt-[-196px]">
          <div class="inline-flex flex-col items-center gap-4 md:gap-10 relative flex-[0_0_auto]">
            <div
              class="relative w-fit mt-[-1.00px] font-orbitron font-bold text-white text-[1.25rem] md:text-[66px] text-center tracking-0 md:tracking-[-3.30px] leading-1 md:leading-[66px]">
              AUTO MAINTENANCE
              <br /> &amp; REPAIR SERVICE
            </div>

            <div class="inline-flex items-center gap-6 relative flex-[0_0_auto]">
              <div
                class="relative w-fit font-ibm-plex-sans font-bold text-white text-sm text-center tracking-[2.80px] leading-[19.6px] whitespace-nowrap">
                TAKE A TOUR
              </div>

              <div
                class="inline-flex items-center justify-center p-2 md:p-4 relative flex-[0_0_auto] mt-[-5.00px] mb-[-5.00px] mr-[-5.00px] bg-[#c2ae8b] rounded-[1000px] overflow-hidden border-[5px] border-solid border-[#22222280]">
                <svg class="!relative !w-3 !h-3 md:!w-6 md:!h-6" fill="none" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.5 13H13.5V19H11.5V13H5.5V11H11.5V5H13.5V11H19.5V13Z" fill="#ffffff" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="car-brands mx-auto inline-flex items-center items-center justify-between md:gap-[92px] px-[7px] py-0 absolute top-[350px] md:top-[790px] left-0 right-0 w-[90%] md:w-[75%] lg:w-[50%]">

        <div class="relative w-[48.84px] h-[48.84px]">
          <img class="absolute w-8 md:w-11 md:h-11 top-0.5 left-0.5 object-cover" alt="BMW"
            src="{% static 'img/home/mercedes-benz.png' %}" />
        </div>

        <div class="relative w-[48.84px] h-[48.84px] overflow-hidden opacity-70">
          <img class="absolute  w-8 md:w-[49px] md:h-[47px] top-0.5 left-0" alt="Ford"
            src="{% static 'img/home/ford.png' %}" />
        </div>

        <div class="relative w-14 h-[49px]">
          <img class="absolute w-8 md:w-14 md:h-[31px] top-[9px] left-0 object-cover" alt="Audi"
            src="{% static 'img/home/audi.png' %}" />
        </div>


        <div class="relative w-[48.84px] h-[48.83px]">
          <img class="absolute w-8 md:w-14 md:h-[31px] top-[2px] md:top-[9px] left-0 object-cover" alt="Rolls Royce"
            src="{% static 'img/home/rolls-royce.png' %}" />
        </div>


        <div class="relative w-[48.84px] h-[48.84px]">
          <img class="absolute w-8 md:w-[49px] md:h-[46px] top-0.5 left-0" alt="Mazda"
            src="{% static 'img/home/mazda.png' %}" />
        </div>

        <div class="relative w-[48.84px] h-[48.84px]">
          <img class="absolute w-8 md:w-[49px] md:h-10 top-[5px] left-0 object-cover" alt="Nissan"
            src="{% static 'img/home/nissan.png' %}" />
        </div>
      </div>
    </div>
  </section>

  {% comment %}
  Products
  {% endcomment %}
  <section
    class="mt-[40px] md:mt-[80px] max-w-[1280px] mx-auto w-full flex flex-col items-center gap-12 md:gap-24 relative flex-[0_0_auto]">
    <div class="inline-flex flex-col items-center gap-6 relative flex-[0_0_auto]">
      <div class="inline-flex items-center gap-4 relative flex-[0_0_auto]">
        <div class="relative w-[10px] h-[10px] ml-[-3.34px] bg-[#c2ae8b] -rotate-45"></div>

        <div
          class="relative w-fit mt-[-1.00px] font-ibm-plesk-sans font-bold text-[#919098] text-sm text-center tracking-[2.80px] leading-[19.6px] whitespace-nowrap">
          OUR SERVICES
        </div>
      </div>

      <div
        class="relative w-fit font-orbitron font-bold text-white text-[24px] md:text-5xl text-center tracking-[0] leading-[12px]  md:leading-[48px] whitespace-nowrap">
        CARS SERVICES
      </div>
    </div>

    <div
      class="w-full grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 items-center gap-3 md:gap-10 relative flex-[0_0_auto]">
      <div
        class="group transition-transform duration-300 ease-in-out hover:-translate-y-6 sm:hover:-translate-y-8 md:hover:-translate-y-10 cursor-pointer relative w-full h-[200px] sm:h-[300px] md:h-[500px] bg-[url('{% static 'img/products/electric-cars.png' %}')] bg-cover bg-center sm:bg-top md:bg-[100%_100%]"
        style="background-image:url('{% static 'img/products/electric-cars.png' %}')">
        <div
          class="md:invisible group-hover:visible inline-flex items-center justify-center p-4 sm:p-6 md:p-8 absolute top-[40%] sm:top-[50%] md:top-[201px] left-1/2 -translate-x-1/2 bg-[#c2ae8b] rounded-full overflow-hidden border-[3px] sm:border-[4px] md:border-[5px] border-solid border-[#22222280]">
          <svg class="w-4 h-4 sm:w-5 sm:h-5 md:w-6 md:h-6" fill="none" height="24" viewBox="0 0 24 24" width="24"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="white" />
          </svg>
        </div>
        <div
          class="absolute bottom-6 sm:bottom-8 md:bottom-12 left-0 right-0 font-ibm-plex-sans font-medium text-white text-base sm:text-xl md:text-2xl text-center tracking-[-0.48px] leading-normal">
          Electric Cars
        </div>
      </div>

      <div
        class="group transition-transform duration-300 ease-in-out hover:-translate-y-6 sm:hover:-translate-y-8 md:hover:-translate-y-10 cursor-pointer relative w-full h-[200px] sm:h-[300px] md:h-[500px] bg-[url('{% static 'img/products/electric-cars.png' %}')] bg-cover bg-center sm:bg-top md:bg-[100%_100%]"
        style="background-image:url('{% static 'img/products/suv-cars.png' %}')">
        <div
          class="md:invisible group-hover:visible inline-flex items-center justify-center p-4 sm:p-6 md:p-8 absolute top-[40%] sm:top-[50%] md:top-[201px] left-1/2 -translate-x-1/2 bg-[#c2ae8b] rounded-full overflow-hidden border-[3px] sm:border-[4px] md:border-[5px] border-solid border-[#22222280]">
          <svg class="w-4 h-4 sm:w-5 sm:h-5 md:w-6 md:h-6" fill="none" height="24" viewBox="0 0 24 24" width="24"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="white" />
          </svg>
        </div>
        <div
          class="absolute bottom-6 sm:bottom-8 md:bottom-12 left-0 right-0 font-ibm-plex-sans font-medium text-white text-base sm:text-xl md:text-2xl text-center tracking-[-0.48px] leading-normal">
          SUV Cars
        </div>
      </div>

      <div
        class="group transition-transform duration-300 ease-in-out hover:-translate-y-6 sm:hover:-translate-y-8 md:hover:-translate-y-10 cursor-pointer relative w-full h-[200px] sm:h-[300px] md:h-[500px] bg-[url('{% static 'img/products/electric-cars.png' %}')] bg-cover bg-center sm:bg-top md:bg-[100%_100%]"
        style="background-image:url('{% static 'img/products/super-cars.png' %}')">
        <div
          class="md:invisible group-hover:visible inline-flex items-center justify-center p-4 sm:p-6 md:p-8 absolute top-[40%] sm:top-[50%] md:top-[201px] left-1/2 -translate-x-1/2 bg-[#c2ae8b] rounded-full overflow-hidden border-[3px] sm:border-[4px] md:border-[5px] border-solid border-[#22222280]">
          <svg class="w-4 h-4 sm:w-5 sm:h-5 md:w-6 md:h-6" fill="none" height="24" viewBox="0 0 24 24" width="24"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="white" />
          </svg>
        </div>
        <div
          class="absolute bottom-6 sm:bottom-8 md:bottom-12 left-0 right-0 font-ibm-plex-sans font-medium text-white text-base sm:text-xl md:text-2xl text-center tracking-[-0.48px] leading-normal">
          Super Cars
        </div>
      </div>
    </div>
  </section>

  {% comment %} wrapper {% endcomment %}
</div>



{% endblock content %}