@tailwind base;
@tailwind components;
@tailwind utilities;


/* home */
.hero {
  width: 1440px;
  height: 850px;
  background-image: url(/static/img/home/main-car.png);
  background-size: 100% 100%;
}

.hero .overlap {
  position: relative;
  height: 850px;
  background: linear-gradient(
    180deg,
    rgba(4, 3, 11, 0.74) 0%,
    rgb(4, 3, 11) 100%
  );
}

.hero .overlap-group {
  position: absolute;
  width: 1280px;
  height: 228px;
  top: 372px;
  left: 80px;
}

.hero .btn-next-prev {
  position: absolute;
  width: 1280px;
  height: 120px;
  top: 9px;
  left: 0;
}

.hero .next {
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 1160px;
  border-radius: 1000px;
  overflow: hidden;
  border: 1px solid;
  border-color: #ffffff66;
}

.hero .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.hero .previous {
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1000px;
  overflow: hidden;
  border: 1px solid;
  border-color: #ffffff66;
}

.hero .heading {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 269px;
}

.hero .AUTO-MAINTENANCE {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Orbitron", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 66px;
  text-align: center;
  letter-spacing: -3.30px;
  line-height: 66px;
}

.hero .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.hero .take-a-tour {
  position: relative;
  width: fit-content;
  font-family: "IBM Plex Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2.80px;
  line-height: 19.6px;
  white-space: nowrap;
}

.hero .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -5.00px;
  margin-bottom: -5.00px;
  margin-right: -5.00px;
  background-color: #c2ae8b;
  border-radius: 1000px;
  overflow: hidden;
  border: 5px solid;
  border-color: #c2ae8c3d;
}

.hero .navbar {
  position: absolute;
  width: 1440px;
  height: 128px;
  top: 0;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ffffff29;
  backdrop-filter: blur(20px) brightness(100%);
  -webkit-backdrop-filter: blur(20px) brightness(100%);
}

.hero .menu {
  display: flex;
  flex-direction: column;
  width: 64px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 51px;
  left: 80px;
}

.hero .rectangle {
  width: 24px;
  position: relative;
  height: 2px;
  background-color: #ffffff;
}

.hero .div {
  width: 48px;
  position: relative;
  height: 2px;
  background-color: #ffffff;
}

.hero .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.hero .group {
  position: absolute;
  width: 283px;
  height: 60px;
  top: 32px;
  left: 579px;
}

.hero .XDG-logo-black {
  height: 60px;
}

.hero .overlap-group-wrapper {
  position: relative;
  width: 265px;
  height: 39px;
  top: 13px;
  left: 9px;
}

.hero .div-2 {
  position: relative;
  height: 39px;
}

.hero .group-wrapper {
  position: absolute;
  width: 92px;
  height: 39px;
  top: 0;
  left: 85px;
}

.hero .vector {
  width: 92px;
  left: 0;
  position: absolute;
  height: 39px;
  top: 0;
}

.hero .vector-2 {
  width: 99px;
  left: 0;
  position: absolute;
  height: 39px;
  top: 0;
}

.hero .vector-3 {
  width: 94px;
  left: 171px;
  position: absolute;
  height: 39px;
  top: 0;
}

.hero .account-support {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 52px;
  left: 1247px;
}

.hero .divider {
  position: relative;
  align-self: stretch;
  width: 1px;
  background-color: #ffffff3d;
}

.hero .brand-logo {
  display: flex;
  width: 923px;
  align-items: flex-start;
  gap: 92px;
  padding: 0px 15.26px;
  position: absolute;
  top: 790px;
  left: 259px;
}

.hero .img-wrapper {
  position: relative;
  width: 48.84px;
  height: 48.84px;
}

.hero .BMW {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 2px;
  left: 2px;
  object-fit: cover;
}

.hero .ford-wrapper {
  position: relative;
  width: 48.84px;
  height: 48.84px;
  opacity: 0.7;
}

.hero .ford {
  position: absolute;
  width: 49px;
  height: 47px;
  top: 2px;
  left: 0;
}

.hero .audi-wrapper {
  position: relative;
  width: 56px;
  height: 49px;
}

.hero .audi {
  position: absolute;
  width: 56px;
  height: 31px;
  top: 9px;
  left: 0;
  object-fit: cover;
}

.hero .mazda {
  position: absolute;
  width: 49px;
  height: 46px;
  top: 2px;
  left: 0;
}

.hero .nissan-wrapper {
  position: relative;
  width: 48.84px;
  height: 48.84px;
  margin-right: -8.53px;
}

.hero .nissan {
  position: absolute;
  width: 49px;
  height: 40px;
  top: 5px;
  left: 0;
  object-fit: cover;
}

.hero .rolls-royce-wrapper {
  position: relative;
  width: 48.84px;
  height: 48.84px;
  opacity: 0.6;
}

/* products */

.product {
  position: relative;
  width: 1280px;
  height: 768px;
}

.product .heading {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  top: 0;
}

.product .indicator {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.product .rectangle {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: -3.34px;
  background-color: #c2ae8b;
  transform: rotate(-45deg);
}

.product .our-services {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "IBM Plex Sans", Helvetica;
  font-weight: 700;
  color: #919098;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2.80px;
  line-height: 19.6px;
  white-space: nowrap;
}

.product .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Orbitron", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;
}

.product .div {
  position: absolute;
  width: 1280px;
  height: 580px;
  top: 188px;
  left: 0;
}

.product .div-wrapper {
  position: absolute;
  width: 400px;
  height: 500px;
}

.product .div-wrapper img {
  background-size: cover;
  background-position: 50% 50%;
}


.product .text-wrapper-2 {
  position: absolute;
  top: 435px;
  left: 134px;
  font-family: "IBM Plex Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 24px;
  white-space: nowrap;
}

.product .div-2 {
  position: absolute;
  width: 400px;
  height: 500px;
  top: 0;
  left: 440px;
  background-image: url(./img/image-1.png);
  background-size: 100% 100%;
}

.product .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  position: absolute;
  top: 201px;
  left: 151px;
  background-color: #c2ae8b;
  border-radius: 1000px;
  overflow: hidden;
  border: 5px solid;
  border-color: #c2ae8c3d;
}

.product .add {
  position: relative;
  width: 24px;
  height: 24px;
}

.product .text-wrapper-3 {
  position: absolute;
  top: 435px;
  left: 151px;
  font-family: "IBM Plex Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 24px;
  white-space: nowrap;
}

.product .div-wrapper-2 {
  position: absolute;
  width: 400px;
  height: 500px;
  top: 80px;
  left: 880px;
  background-image: url(./img/image-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.product .text-wrapper-4 {
  position: absolute;
  top: 435px;
  left: 142px;
  font-family: "IBM Plex Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 24px;
  white-space: nowrap;
}
